<nav class="{{include.navclass}}">
    <a href="{{site.baseurl}}/about/about" class="{% if page.name == 'about.md' or page.name == 'command_set.md' %}current{% endif %}">About</a><br/>
    <a href="{{site.baseurl}}/getting_started/getting_started" class="{% if page.name == 'getting_started.md' %}current{% endif %}">Getting Started</a><br/>
    <a href="{{site.baseurl}}/fonts/fonts" class="{% if page.name == 'fonts.md' or page.name == 'fonts_list.md' or page.name == 'fonts_install.md' %}current{% endif %}">Fonts</a><br/>
    <a href="{{site.baseurl}}/core/core" class="{% if page.name == 'core.md' or page.name == 'optimize.md' or page.name == 'merge.md' or page.name == 'split.md' or page.name == 'trim.md' or page.name == 'rotate.md' or page.name == 'stamp.md' or page.name == 'nup.md' or page.name == 'grid.md' or page.name == 'validate.md' %}current{% endif %}">Core Commands</a><br/> 
    <a href="{{site.baseurl}}/generate/generate" class="{% if page.name == 'generate.md' or page.name == 'import.md' %}current{% endif %}">Generate Commands</a><br/>
    <a href="{{site.baseurl}}/pages/pages" class="{% if page.name == 'pages.md' or page.name == 'pages_insert.md' or page.name == 'pages_remove.md' %}current{% endif %}">Pages</a><br/>
    
    <a href="{{site.baseurl}}/extract/extract" class="{% if page.name == 'extract.md' or page.name == 'extract_content.md' or page.name == 'extract_fonts.md' or page.name == 'extract_images.md' or page.name == 'extract_metadata.md' or page.name == 'extract_pages.md' %}current{% endif %}">Extraction</a><br/>
    <div style="text-indent:25px;"><a href="{{site.baseurl}}/extract/extract_images" class="{% if page.name == 'extract_images.md' %}current{% endif %}">Images</a></div>
    <div style="text-indent:25px;"><a href="{{site.baseurl}}/extract/extract_fonts" class="{% if page.name == 'extract_fonts.md' %}current{% endif %}">Fonts</a></div>
    <div style="text-indent:25px;"><a href="{{site.baseurl}}/extract/extract_content" class="{% if page.name == 'extract_content.md' %}current{% endif %}">Content</a></div>
    <div style="text-indent:25px;"><a href="{{site.baseurl}}/extract/extract_pages" class="{% if page.name == 'extract_pages.md' %}current{% endif %}">Pages</a></div>
    <div style="text-indent:25px;"><a href="{{site.baseurl}}/extract/extract_metadata" class="{% if page.name == 'extract_metadata.md' %}current{% endif %}">Metadata</a></div>

    <a href="{{site.baseurl}}/attach/attach" class="{% if page.name == 'attach.md' or page.name == 'attach_add.md' or page.name == 'attach_remove.md' or page.name == 'attach_list.md' or page.name == 'attach_extract.md' %}current{% endif %}">Attachments</a><br/>
    <a href="{{site.baseurl}}/portfolio/portfolio" class="{% if page.name == 'portfolio.md' or page.name == 'portfolio_add.md' or page.name == 'portfolio_remove.md' or page.name == 'portfolio_list.md' or page.name == 'portfolio_extract.md' %}current{% endif %}">Portfolio</a><br/>
    <a href="{{site.baseurl}}/encrypt/encrypt" class="{% if page.name == 'encrypt.md' or page.name == 'change_opw.md' or page.name == 'change_upw.md' or page.name == 'decryptPDF.md' or page.name == 'encryptPDF.md' or page.name == 'perm_add.md' or page.name == 'perm_list.md' %}current{% endif %}">Encryption</a><br/>
    <a href="{{site.baseurl}}/paper" class="{% if page.name == 'paper.md' %}current{% endif %}">Papersizes</a><br/>
    <a href="{{site.baseurl}}/keywords/keywords" class="{% if page.name == 'keywords.md' or page.name == 'keywords_add.md' or page.name == 'keywords_remove.md' or page.name == 'keywords_list.md' %}current{% endif %}">Keywords</a><br/>
    <a href="{{site.baseurl}}/properties/properties" class="{% if page.name == 'properties.md' or page.name == 'properties_add.md' or page.name == 'properties_remove.md' or page.name == 'properties_list.md' %}current{% endif %}">Properties</a><br/>
    <a href="{{site.baseurl}}/info" class="{% if page.name == 'info.md' %}current{% endif %}">Info</a><br/>
</nav>

<br>